[submodule "vim/bundle/securemodelines"]
	path = vim/bundle/securemodelines
	url = git@github.com:ciaranm/securemodelines.git
[submodule "vim/bundle/srcery"]
	path = vim/bundle/srcery
	url = git@github.com:roosta/srcery.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-polymer"]
	path = vim/bundle/vim-polymer
	url = git@github.com:myw/vim-polymer.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
